@import '../sass/variables.scss';

body{
  font-size: 6px;
}
::-webkit-scrollbar {
  display: none;
}

.App {
  
  p{
    color: $fontcolor;
    font-size: $fontsmall;
    font-family: $Montserrat;
  }
  h1{
    color: $fontcolor;
    font-size: $fonthuge;
    font-family: $Roboto;
    border-bottom: 1px solid $fontcolor;
    padding-bottom: 2%;
    margin: 1.5% 0;
  }
 
}
