@import '../sass/variables.scss';

body{
  font-size: 6px;
  overflow: scroll;
  transition: ease-in-out 0.5s;
  &.AboutMeShow{
    transform: translate(100vw, 0);
  }
  &.ContactMeShow{
    transform: translate(-100vw, 0);
  }
  &.SkillsMeShow{
    transform: translate(0, 100vh);
  }
  &.ProjectsMeShow{
    transform: translate(0, -100vh);
  }
}
::-webkit-scrollbar {
  display: none;
}

.App {
  p{
    color: $fontcolor;
    font-size: $fontsmall;
    font-family: $Montserrat;
  }
  h1, h2 ,h3, h4, h5, h6{
    color: $fontcolor;
    font-size: $fonthuge;
    font-family: $Roboto;
    border-bottom: 1px solid $fontcolor;
    padding-bottom: 2%;
    margin: 1.5% 0;
  }
  h2{
    font-size: $fontlarge;
  }
  h3{
    font-size: $fontbig;
  }
  h4{
    font-size: $fontfine;
  }
  h5{
    font-size: $fontmiddle;
  }
  h6{
    font-size: $fontlittle;
  }
  
}
