@import '../sass/variables.scss';
html, .root{
  overflow: hidden;
}
body{
  font-size: 6px;
  overflow: hidden;
  transition: ease-in-out 0.5s;
}
::-webkit-scrollbar {
  display: none;
}

.App {
  &.AboutMeShow{
    transform: translate(100vw, 0);
  }
  &.ContactMeShow{
    transform: translate(-100vw, 0);
  }
  &.SkillsMeShow{
    transform: translate(0, 100vh);
  }
  &.ProjectsMeShow{
    transform: translate(0, -100vh);
  }
  p{
    color: $fontcolor;
    font-size: $fontsmall;
    font-family: $Montserrat;
  }
  h1, h2 ,h3, h4, h5, h6{
    color: $fontcolor;
    font-family: $Roboto;
    border-bottom: 1px solid $fontcolor;
    padding-bottom: 2%;
    margin: 1.5% 0;
  }
  h1{
    font-size: $fonthuge;
  }
  h2{
    font-size: $fontlarge;
  }
  h3{
    font-size: $fontbig;
  }
  h4{
    font-size: $fontfine;
  }
  h5{
    font-size: $fontmiddle;
  }
  h6{
    font-size: $fontlittle;
  }
  
}
@media (max-width: 767px){

  h1, h2 ,h3, h4, h5, h6, p, .Icon{
    transform: scale(0.8);
  }

  .App {
    .ContentLayout{
      display: none;
    }
    &.AboutMeShow{
      .AboutMeContainer{
        display: flex;
      }
    }
    &.ContactMeShow{
      .ContactContainer{
        display: flex;
      }
    }
    &.SkillsMeShow{
      .SkillsContainer{
        display: flex;
      }
    }
    &.ProjectsMeShow{
      .ProjectsContainer{
        display: flex;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1, h2 ,h3, h4, h5, h6, p, .Icon{
    transform: scale(0.85);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  h1, h2 ,h3, h4, h5, h6, p, .Icon{
    transform: scale(0.9);
  }
}
