// if you want to use paste path -> @import '../../sass/variables.scss'

$maincolor: #2E7980;	// Main Primary color */
$fontcolor: #FFFFFF;
$contrascolor: #00E9FF;
$darknesscolor: #1E3436;
$shadowcolor: #004C53;

$color-complement-0: #D38B4A;	// Main Complement color */
$color-complement-1: #FFFFFF;
$color-complement-2: #FF7800;
$color-complement-3: #594430;
$color-complement-4: #884000;

$fontsmall: 14px;
$fontmiddle: 18px;
$fontbig: 24px;
$fontlarge: 32px;
$fonthuge: 45px;

$Montserrat: 'Montserrat', sans-serif;
$Roboto: 'Roboto Slab', serif;