@import '../../../sass/variables.scss';

.Frame{
    position: relative;
    height: auto;
    flex-wrap: wrap;
    width: 95%;
    background: $shadowcartcolor;
    border-radius: 20px;
    overflow: scroll;

}
@media (max-width: 767px){
    .Frame{
        position: relative;
        height: auto;
        flex-wrap: wrap;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}