@import '../../sass/variables.scss';

.becker{
    position: absolute;
    display: flex;
    justify-content: center;
    .Icon{
        display: none;
    }
    .svg{
        background: white;
        opacity: 1;
        width: 50px;
        height: 50px;
        margin: 0;
    }
    &:hover{
        .Icon{
            display: flex;
        }
    }
    &.down{
        bottom: 0;
        height: 25vh;
        width: 100%;
        &:hover{
            background-image: linear-gradient(rgba(0,0,0,0), black);
        }
        .Icon{
            position: relative;
            top: 10%;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &.up{
        top: 0;
        height: 25vh;
        width: 100%;
        &:hover{
            background-image: linear-gradient( black, rgba(0,0,0,0));
        }
        .Icon{
            position: relative;
            top: 10%;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &.left{
        left: 0;
        width: 13.5vw;
        height: 100%;
    }
    &.right{
        right: 0;
        width: 13.5vw;
        height: 100%;
    }
    
  }
  @media (max-width: 767px){
    .becker{
        display: none;
    }
  }