@import '../../../sass/variables.scss';
.Navigation{
    position: relative;
    background-image: url('../../../public/images/Navigation/navImage1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 600px;

    .Particles{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

    .NavigationCircle {
        opacity: 0.85;
        z-index: 1;
        transform: rotate(-45deg);
        height: 80vh;
        width: 80vh;
        min-width: 316px;
        min-height: 316px;
        background-color: $darknesscolor;
        border-radius: 50%;
        border: 3px solid $fontcolor;
        box-shadow: 0px 0px 15px white;
      
        div.language{
            transform: rotate(45deg);
            position: relative;
            left: -1%;
            top:-62%;
            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
            width: 25%;
            height: 25%;
            background-color: $fontcolor;
            border-radius: 50%;
                p{  
                    display: inline-flex;
                    text-align: center;
                    margin: auto;
                    color: $shadowcolor;
                    font-weight: 700;
                    font-size: 40px;
                    transition: ease-in-out 200ms;
                    &:hover{
                        font-size: 50px;
                        cursor: pointer;
                    }
                }
        }
        
    }
    .copyright{
        position: absolute;
        bottom: 0;
        right: 0;
        font-weight: 900;
        font-size: $fontsmall;
        padding: 10px;
        opacity: 0.6;
    }
}
@media (max-width: 767px){
    .Navigation{
        position: relative;
        background-image: url('../../../public/images/Navigation/navImage1920x1080.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        min-height: 300px;
        flex-wrap: nowrap;
        overflow: hidden;

        .Particles{
            display: none;
          }
    
        .NavigationCircle {
            opacity: 0.85;
            z-index: 1;
            height: 90vw;
            width: 90vw;
            transform: rotate(-45deg);
            min-width: 176px;
            min-height: 176px;
          
            div.language{
                transform: rotate(45deg);
                position: relative;
                left: -1%;
                top:-62%;
                display: flex;
                margin: auto;
                justify-content: center;
                align-items: center;
                width: 25%;
                height: 25%;
                background-color: $fontcolor;
                border-radius: 50%;
                    p{  
                        display: inline-flex;
                        text-align: center;
                        margin: auto;
                        color: $shadowcolor;
                        font-weight: 700;
                        font-size: 25px;
                       &:hover{
                            font-size: 25px;
                            font-weight: 900;
                       }
                    }
            }
            
        }
        .copyright{
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            font-weight: 900;
            font-size: $fonttiny;
            padding: 10px;
            opacity: 1;
        }
    }  
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}