@import '../../../sass/variables.scss';

    .AboutMe {
        position: relative;
        padding: 0 4vw;
        display: flex;
        text-align: center;
        flex-direction: column;

        .imageCol{
            flex-direction: column;
            padding-right: 20px;
            border-right: 1px solid $fontcolor;
            
            .img{
                padding: 15px;
                border: 1px solid $fontcolor;
                height: auto;
                img{
                    width: 100%;
                }
            }
        }
        .contentCol{
            padding-left: 20px;
            p{
                text-align: left;
                font-size: $fontmiddle;
            }
            .intrest-col{
                flex-direction: column;
                
                iframe{
                    transition: ease-in-out 1s;
                    opacity: 0;
                    display: none;
                    &:hover{
                        opacity: 1;
                    }
                }

                &:hover{
                    p{
                        display: none;
                    }
                    iframe{
                        display: flex;
                        border: 5px double $fontcolor ;
                        padding: 5px;
                        box-sizing: border-box;
                        width: 100%;
                        height: 55%;
                    }
                }

            }
            .presentation-col{
                padding: 0 2.5%;
                flex-direction: column;
                
            }

        }
    }
