@import '../../../sass/variables.scss';

    .AboutMe {
        padding: 0 3vw;
        box-sizing: border-box;
        width: 100%;
        height: 95vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        overflow: scroll;
        text-align: center;
        .Swipe{
            display: none;
        }
        .imageCol{
            flex-direction: column;
            padding-right: 20px;
            border-right: 1px solid $fontcolor;
            
            .img{
                padding: 15px;
                border-radius: 20px;
                border: 1px solid $fontcolor;
                height: auto;
                img{
                    border-radius: 25px;
                    width: 100%;
                }
            }
        }
        .contentCol{
            padding-left: 20px;
            p{
                text-align: left;
                font-size: $fontmiddle;
            }
            .intrest-col{
                flex-direction: column;
                
                iframe{
                    transition: ease-in-out 1s;
                    opacity: 0;
                    display: none;
                    &:hover{
                        opacity: 1;
                    }
                }
                .video-incentive{
                    margin: 2.5% auto;
                    color: $color-contrast-1;
                    font-weight: 600;
                }

                &:hover{
                    p{
                        display: none;
                    }
                    iframe{
                        display: flex;
                        border: 5px double $fontcolor ;
                        padding: 5px;
                        box-sizing: border-box;
                        width: 100%;
                        height: 65%;
                    }
                }

            }
            .presentation-col{
                padding: 0 2.5%;
                flex-direction: column;
                
            }

        }
    }
    @media (max-width: 767px){
        .AboutMe {
            padding: 3vw;
            box-sizing: border-box;
            text-align: center;
            .close{
                right: 0;
            }
            .Swipe{
                display: flex;
                position: absolute;
                top:0;
                right: 0;
                width: 20vw;
                height: 100%;
                z-index: 1;
            }
            h1{
                font-size: $fontlarge;
            }
            .imageCol{
                flex-direction: column;
                padding: 0;
                border-right: none;
                
                .img{
                    width: 90%;
                    padding: 10px;
                    border: 1px solid $fontcolor;
                    height: auto;
                    img{
                        width: 100%;
                    }
                }
            }
            .contentCol{
                padding: 0;
                h3{
                    margin: 0;
                    padding: 0;
                }
                p{
                    margin: 0;
                    text-align: left;
                    font-size: $fontmiddle;
                }
                .intrest-col{
                    flex-direction: column;
                    p{
                        order: 2;
                    }
                    iframe{
                        display: flex;
                        order:1;
                        border: 5px double $fontcolor ;
                        padding: 5px;
                        margin: 2vh 0;
                        box-sizing: border-box;
                        width: 100%;
                        height: 60%;
                        opacity: 1;
                        &:hover{
                            opacity: 1;
                        }
                    }
                    .video-incentive{
                        display: none;
                    }
    
                    &:hover{
                        p{
                            display: flex;
                        }
                        .video-incentive{
                            display: none;
                        }
                        iframe{
                            display: flex;
                            border: 5px double $fontcolor ;
                            padding: 5px;
                            box-sizing: border-box;
                            width: 100%;
                            height: 65%;
                        }
                    }
    
                }
                .presentation-col{
                    padding: 0;
                    flex-direction: column;
                    
                }
    
            }
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
    }
    @media (min-width: 992px) and (max-width: 1199px) {
    }