@import '../../../sass/variables.scss';

.ContentLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: black;
    min-height: 605px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    &.AboutMeContainer{
        position: absolute;
        transform: translate(-100vw, -100vh);
        background-image: url("../../../public/images/About/aboutImage1920x1080.jpg");
    }
    &.ContactContainer{
        position: absolute;
        transform: translate(100vw, -100vh);
        background-image: url("../../../public/images/Contact/contactImage1920x1080.jpg");
    }
    &.SkillsContainer{
        position: absolute;
        transform: translate(0, -200vh);
        background-image: url("../../../public/images/Skills/skillsImage1920x1080.jpg");
    }
    &.ProjectsContainer{
        position: absolute;
        transform: translate(0, 0);
        background-attachment: scroll;
        background-image: url("../../../public/images/Projects/projectsImage1920x1280.jpg");
    }
}