@import '../../sass/variables.scss';

$startrotatepoint: -45deg;

div.NavElem{
    opacity: 0.9;
    display: inline-flex;
    width: 50%;
    height: 50%;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    background: $shadowcolor;
    border: 3px solid $fontcolor;
    box-shadow: 0px 0px 5px white;
    box-sizing: border-box;
    p{
        opacity: 1;
        display: inline-flex;
        align-items: center;
        width: 100%;
        font-size: 30px;
    }
   &:hover{
        background: $lightcolor;
        cursor: pointer;
   }
    
    &.AboutMe{
        border-radius: 100% 0 20% 0;
        transition: ease-in-out 1s;
        p{
            justify-content: center;
            transform: rotate($startrotatepoint);
            transition: ease-out 0.5s;
            position: relative;
            left: 0px;
            top: 0px;
        }
        &:hover{
            opacity: 1;
            transform: translate(-20px, -20px);
            box-shadow: 5px 5px 15px white;
            p{
                transform: rotate(-$startrotatepoint);
                text-shadow: 0px 0px 2px white;
                justify-content: center;
                position: relative;
                left: 25px;
                top: 25px;
            } 
        }
    }


    &.Skills{
        border-radius: 0 100% 0 0;
        transition: ease-in-out 1s;
        p{
            justify-content: center;
            transform: rotate( $startrotatepoint + 90deg);
            transition: ease-out 0.5s;
        }
        &:hover{
            opacity: 1;
            transform: translate(25px, -25px);
            box-shadow: -5px 5px 15px white;
            p{
                transform: rotate(-$startrotatepoint) translate(0, 25px);
                text-shadow: 0px 0px 2px white;
                justify-content: center;
            } 
        }
    }


    &.Contact{
        border-radius: 0 0 100% 0;
        transition: ease-in-out 1s;
        p{
            justify-content: center;
            transform: rotate(-$startrotatepoint + 90deg);
            transition: ease-out 0.5s;
            position: relative;
            left: 0px;
            top: 0px;
        }
        &:hover{
            opacity: 1;
            transform: translate(20px, 20px);
            box-shadow: -5px -5px 15px white;
            p{
                transform: rotate(-$startrotatepoint);
                text-shadow: 0px 0px 2px white;
                justify-content: center;
                position: relative;
                left: -25px;
                top: -25px;
                
            } 
        }
    }


    &.Projects{
        border-radius: 0 0 0 100%;
        transition: ease-in-out 1s;
        p{
            justify-content: center;
            transform: rotate( $startrotatepoint + 90deg);
            transition: ease-out 0.5s;
        }
        &:hover{
            opacity: 1;
            transform: translate(-20px, 20px);
            box-shadow: 5px -5px 15px white;
            p{
                transform: rotate(-$startrotatepoint) translate(0, -25px);
                text-shadow: 0px 0px 2px white;
                justify-content: center;
            } 
        }
    }
}
@media (max-width: 767px){
    div.NavElem{
        opacity: 0.9;
        display: inline-flex;
        width: 50%;
        height: 50%;
       
        p{
            font-size: 15px;
        }
        
        &.AboutMe{
            border-radius: 100% 0 20% 0;
            transition: ease-in-out 1s;
            p{
                transform: rotate(-$startrotatepoint);
                transition: none;
                padding-left: 10px;
            }
            &:hover{
                transform: translate(0px, 0px);
                p{
                    transform: rotate(-$startrotatepoint);
                    position: relative;
                    left: 0px;
                    top: 0px;
                } 
            }
           
        }


     &.Skills{
        p{
            transform: rotate( $startrotatepoint + 90deg);
        }
        &:hover{
            opacity: 1;
            transform: none;
            p{
                transform: rotate(-$startrotatepoint) translate(0, 0);
            } 
        }
    }


    &.Contact{
        p{
            transform: rotate($startrotatepoint + 90deg);
            padding-right: 20px;
            left: 0px;
            top: 0px;
        }
        &:hover{
            transform: none;
            p{
                transform: rotate(-$startrotatepoint);
                left: 0px;
                top: 0px;
                
            } 
        }
    }


    &.Projects{
        p{
            transform: rotate( $startrotatepoint + 90deg);
        }
        &:hover{
            transform: translate(0, 0);
            p{
                transform: rotate(-$startrotatepoint) translate(0, -25px);
            } 
        }
    }
}
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
